{% from 'field-macro.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block title %}Page Not Found {% endblock %}

{% block content %}
    <picture>
        <img class="card" src="{{ url_for('static', filename='images/404.jpeg') }}">
        <!-- image from "https://www.freepik.com/free-vector/404-error-with-landscape-concept-illustration_20602785.htm#query=error%20404&position=9&from_view=search" on Freepik-->
    </picture>
   
    <hr>

    <p><a href={{url_for('login')}}>Login.</a> Have not registered? <a href={{url_for('index')}}>Register here</a>.</p>
{% endblock %}
